<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="true">

    <!--加载.properties配置文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/freeMarker.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="WEB-INF/pages/"/>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">${freeMarker.templateUpdateDelay}</prop>
				<prop key="default_encoding">${freeMarker.defaultEncoding}</prop>
				<prop key="number_format">${freeMarker.numberFormat}</prop>
				<prop key="datetime_format">${freeMarker.datetimeFormat}</prop>
				<prop key="classic_compatible">${freeMarker.classicCompatible}</prop>
				<prop key="template_exception_handler">${freeMarker.templateExceptionHandler}</prop>
			</props>
		</property>
	</bean>

</beans>